html {
    /*box-sizing: border-box;*/
    font-size: 30px;
}

/*		body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  font-size: 1.6rem;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}
*/
.cont {
    width: 100%;
    margin: 1.6rem auto;
    max-width: 42rem;
    text-align: center;
}

.demo-picked {
    font-size: 1.2rem;
    text-align: center;
}

.demo-picked span {
    font-weight: bold;
}

:root {
    --vcal-bg-color: #e7e9ed;
    --vcal-border-radius: 0;
    --vcal-border-color: #e7e9ed;
    --vcal-today-bg-color: #10989E;
    --vcal-today-color: #fff;
    --vcal-selected-bg-color: #fff;
    --vcal-selected-color: orange;
}

#v-cal *, #v-cal *:before, #v-cal *:after {
    box-sizing: border-box;
}

#v-cal {
    background-color: var(--vcal-bg-color);
    border-radius: var(--vcal-border-radius);
    border: solid 1px var(--vcal-border-color);
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

#v-cal .vcal-btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: button;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    min-width: 27px;
    outline: none;
    overflow: visible;
    padding: 0;
    text-align: center;
&:active {
     border-radius: var(--vcal-border-radius);
     box-shadow: 0 0 0 2px rgba(var(--vcal-today-bg-color), 0.1)
 }
}

#v-cal .vcal-header {
    align-items: center;
    display: flex;
    padding: 1.2rem 1.4rem;
    background-color: rgb(206, 215, 255);
}

#v-cal .vcal-header svg {
    fill: var(--vcal-today-bg-color);
}

#v-cal .vcal-header__label {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#v-cal .vcal-week {
    background-color: var(--vcal-selected-bg-color);
    display: flex;
    flex-wrap: wrap;
}

#v-cal .vcal-week span {
    flex-direction: column;
    flex: 0 0 14.28%;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 14.28%;
    padding: 1.2rem 1.4rem;
    text-align: center;

}

#v-cal .vcal-body {
    background-color: rgba(var(--vcal-selected-bg-color), 0.3);
    display: flex;
    flex-wrap: wrap;
}

#v-cal .vcal-date {
    align-items: center;
    background-color: #fff;
    border-radius: var(--vcal-border-radius);
    display: flex;
    flex-direction: column;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding: 1.2rem 0;
}

#v-cal .vcal-date--active {
    cursor: pointer;
}

#v-cal .vcal-date--today {
    background-color: var(--vcal-today-bg-color);
    color: var(--vcal-today-color);
}

#v-cal .vcal-date--selected {
    background-color: var(--vcal-selected-bg-color);
    color: var(--vcal-selected-color);
}

#v-cal .vcal-date--disabled {
    border-radius: 0;
    cursor: not-allowed;
    opacity: 0.5;
}

/*Adding modal style*/
.myEvent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.event-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.event-header {
    padding: 2px 16px;
    background-color: rgb(131, 160, 238);
    color: white;
}

.event-body {padding: 2px 16px;}